/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 24, 2017, 7:23:43 PM
    Author     : graym
*/

body {
    font-size: 12pt;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: black;
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
    background-color: #597814;
}

h1 {
    font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20pt;
}

header{
    font-size: 12pt;
    font-weight: bold;
    color: #003827;
}

.subheader{
    font:12pt Arial;
    color: #328C73;
}

.primary-nav{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

img {
    width: 460px;
    border: solid;
    border-width: 5px;
    padding: 10px;
    border-radius: 15px;
    float: right;
    border-color:#553300;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #761429;
}

footer{
    color: #648880;
    font-size: 14px;

}